<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="kraang">
          <img src="/images/kraang.svg" class="kraang__img">
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="hidden-sm hidden-xs">Ever wish to talk like Kraang?</h2>
      </div>
    </div>
  </div>
</div>

<div class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-hide="translating || results.kraang">
            <div class="col-md-8">
              <div class="form-group">
                <textarea class="form-control" placeholder="Enter a sentence..." rows="5" ng-model="sentence"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <input class="btn btn-lg btn-block btn-primary" type="submit" value="Talk like Kraang" ng-click="talkKraang(sentence)">
            </div>
          </div>
          <div class="col-md-12" ng-show="results.kraang">
            <h3>{{ results.kraang }}</h3>
            <br>
            <a href="#" class="btn btn-lg btn-primary" ng-click="reset()">Again?</a>
          </div>
          <div class="col-md-12">
            <div class="translating" ng-show="translating">
              <img src="/images/kraang-symbol.svg" class="symbol-rotate pull-left">
              <h3 class="pull-left">Translating...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="about">
    <div class="row">
      <div class="col-md-4">
        <h2>kraang.io</h2>
        <p>
          This project is something I made for fun because I always wanted to
          talk like The Kraang. I also recognized that the world might also want
          to talk like The Kraang, because that is what is known as "awesome".
        </p>
      </div>
      <div class="col-md-4">
        <h2>about me</h2>
        <p>
          My name is Andrew and I am a front-end developer (with some rudimentary
          back-end skillz) from Long Island, NY. Feel free to hit me up on Twitter
          if you want to talk Kraang.
        </p>
        <p><a class="btn btn-default" href="https://twitter.com/keymholio" role="button">Hit me up on Twitter</a></p>
     </div>
      <div class="col-md-4">
        <h2>api</h2>
        <p>
          The API is available on Mashape and is free to use. The service is written
          in Python using Django REST Framework and you can find the source on Github.
          Feel free to fork it and make it better.
        </p>
        <p>
          <a class="btn btn-default" href="https://www.mashape.com/keymholio/kraang/" role="button">Mashape API</a>
          <a class="btn btn-default" href="https://github.com/keymholio/kraang_api" role="button">Source on Github</a>
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <small>
            &copy; 2014 kraang.io. This site is in no way sponsored or endorsed by Nickelodeon, Teenage Mutant Ninja Turtles,
            or any of their affiliates. Teenage Mutant Ninja Turtles and all of its characters are copyrights and trademarks of Nickelodeon.
            This site is just for that which is known as fun.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
